.notification {
  display: flex;
  isolation: isolate;
  position: relative;
  
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff
}


.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 1px 1px 1px 1.25rem;
  font-weight: 500;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}







.expandedEvent{
  height: auto !important;
  transition: height 8s ease !important;
}

.eventPred {
  border-radius: 10px;
  overflow: auto; 
}

.fc-event {
  /* border-radius: 10px; */
  margin-bottom: 1px;
}

.calendar {
  border-radius: 10px;
  text-transform: capitalize;
}

.fc-daygrid-day.fc-day-today {
  /* border-radius: 50px; */
}

:root {
  --fc-today-bg-color:rgb(219, 234, 254) ;
  /* Establece el color de fondo del día actual */
  /* --fc-border-color: none; */
}
.fc-day {
  /* border-radius: 10%; */
}
/* .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: white; 
    background-color: rgb(137, 194, 227);
    border-radius: 50%;
    height: 100%;
    padding-left: 19.38px;
  } */


.fc-highlight {
  background-color: rgb(219, 234, 254) !important;
}


@media (max-width: 640px) {
  .fc-view {
    font-size: 10px !important;
  }
}