@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.calendar{
  margin: 20px;
  text-transform: capitalize;
}
:root {
  --fc-today-bg-color: rgb(137, 195, 229); /* Establece el color de fondo del día actual */
  /* --fc-border-color: none; */
}
/* .fc-scrollgrid-sync-inner{
  padding: 10px;
}
.fc-daygrid-day-frame{
  background-color: red;
  border: 1px solid yellow;
} */
.fc-day{
  /* border-radius: 10%; */
}